{
    "leveling": [
        {
            "min_px": 0,
            "nb_pixels": null,
            "cooldown": "5"
        },
        {
            "min_px": 3,
            "nb_pixels": "+3",
            "cooldown": null
        }
    ],
    "events": [
        {
            "start": "2025-04-07 20:40",
            "end": "2025-04-07 20:42",
            "nb_pixels": "1"
        },
        {
            "start": "2025-04-07 20:44",
            "end": "2025-04-07 20:46",
            "nb_pixels": "+50",
            "cooldown": "3"
        },
        {
            "start": "2025-04-07 20:48",
            "end": "2025-04-07 20:49",
            "nb_pixels": "%75"
        },
        {
            "start": "2025-04-07 20:49",
            "end": "2025-04-07 20:50",
            "nb_pixels": "%50"
        },
        {
            "start": "2025-04-07 20:50",
            "end": "2025-04-07 20:51",
            "nb_pixels": "%25"
        },
        {
            "start": "2025-04-07 20:51",
            "end": "2025-04-07 20:52",
            "nb_pixels": "%0"
        }
    ]
}